@use "../../index";

.projectsSection {
  background-color: index.$dark-green;
  color: index.$off-white;
  min-height:100vh;
  position:relative !important;
  .section-heading {
    border-color: index.$off-white;
  }
  .swiper-button-next, .swiper-button-prev{
    
    color: index.$earth-yellow !important;
  }
}

.project-card {
 
  height: 60vh;
  display: flex;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 5px 10px 10px index.$darker-green;

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
    font-weight: normal;
  }
 
}
swiper-slide{
  background-color: index.$earth-yellow;
  border-radius:15px;
}
.project-card-wrapper {
  color: index.$off-white;
  text-decoration: none;
}

swiper-container {
 
  
  margin: 0 -50px;
 
}

.ProjectCard__info {
  z-index: 1;
  padding: 5%;
  width: 100%;
  border-radius: 15px;
  color:black;
}

.image-overlay{
  height: 60vh;
    background-color: rgb(254 250 224 / 87%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;

}

@media screen and (max-width:1024px){
  .project-card{
    min-height:40vh;
    
  }
}